@{
    ViewBag.Title = "Home Page";
}
<h1>Here are our different products </h1>
<table>
    <h1>Judo</h1>
    <tr>
        <td>
            <img src="~/Images/Hayato.png" alt="kim1" width="250px" />
            <img src="~/Images/Yusho_IJF.jpg" alt="kim2" width="250px" />
            <img src="~/Images/Yusho_IJF_blue.jpg" alt="kim3" width="250px" />
        </td>
    </tr>
</table>
<table>
    <h1>Running</h1>
    <tr>
        <td>
            <img src="~/Images/add_fw1233.jpg" alt="run1" width="250px" />
            <img src="~/Images/NB_1080.jpg" alt="run2" width="250px" />
            <img src="~/Images/NB_Shando.jpg" alt="run3" width="250px" />
            <img src="~/Images/Nike_Vaporfly.jpg" alt="run4" width="250px" />
        </td>
    </tr>
</table>
<table>
    <h1>Fitness</h1>
    <tr>
        <td>
            <img src="~/Images/Ketelbel.jpg" alt="fit1" width="250px" />
            <img src="~/Images/poids.jpg" alt="fit2" width="250px" />
            <img src="~/Images/gym.jpg" alt="fit3" width="250px" />
            <img src="~/Images/nimbus.jpg" alt="fit4" width="250px" />

        </td>
    </tr>
</table>